/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.nav-list {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.home-link {
  display: flex;
  justify-content: center;
  padding-right: 300px;
}

#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  margin-left: 156px;
  margin-top: 36px;
  margin-bottom: 32px;
  transition: border 3ms;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

input:focus {
  border: 1px solid #4e75ff;
}

.flatpickr-input:active {
  border: 1px solid #4e75ff;
}

button {
  border-radius: 8px;
  /* padding: 8px 16px; */
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 500; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 8px;
  border: none;
  transition: background-color color 3ms;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  margin-left: 156px;
  gap: 27px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

span.flatpickr-weekday {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
}

.flatpickr-time input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
}

.dayContainer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #666;
}

.flatpickr-calendar.open {
  background-color: #f5f5f5;
  /* border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  color: #666; */
}

/* .flatpickr-current-month input.cur-year {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
} */

/* .flatpickr-time input.flatpickr-hour {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
} */

/* .flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
}

.flatpickr-weekdays {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
}

span.flatpickr-weekday {
  color: #2e2f42;
  font-size: unset;
} */

.snack-home {
  display: flex;
  justify-content: center;
  padding-right: 450px;
}

.form {
  margin-left: 156px;
}

.form-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

fieldset {
  display: flex;
  width: 360px;
  height: 78px;
  margin-bottom: 28px;
  border: 1px solid #808080;
  transition: border 3ms;
}

fieldset:hover {
  border: 1px solid #000;
}

.fieldset-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.fieldset-label input {
  margin-right: 8px;
  border: 1px solid #000;
  border-radius: 14px;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-left: 48px;
}

.fieldset-label input:hover {
  border: 1px solid #000;
}

.sub-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 3ms;
}

.sub-btn:hover {
  background-color: #6c8cff;
}
